<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <title>Appointments</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Appointments</a>
                </div>
                <div>
                    <a href="billing.html">Billing</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="doctor.html">
                            <img class="medium" src="./images/img.jpg" alt="doctor">
                        </a>
                        <div class="card-body">
                            <a href="doctor.html">
                                <h2>doctor 1</h2>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="doctor.html">
                            <img class="medium" src="./images/img.jpg" alt="doctor">
                        </a>
                        <div class="card-body">
                            <a href="doctor.html">
                                <h2>doctor 1</h2>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="doctor.html">
                            <img class="medium" src="./images/img.jpg" alt="doctor">
                        </a>
                        <div class="card-body">
                            <a href="doctor.html">
                                <h2>doctor 1</h2>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="doctor.html">
                            <img class="medium" src="./images/img.jpg" alt="doctor">
                        </a>
                        <div class="card-body">
                            <a href="doctor.html">
                                <h2>doctor 1</h2>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="doctor.html">
                            <img class="medium" src="./images/img.jpg" alt="doctor">
                        </a>
                        <div class="card-body">
                            <a href="doctor.html">
                                <h2>doctor 1</h2>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="doctor.html">
                            <img class="medium" src="./images/img.jpg" alt="doctor">
                        </a>
                        <div class="card-body">
                            <a href="doctor.html">
                                <h2>doctor 1</h2>
                            </a>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i> </span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                All right reserved
            </footer>
        </div>
    </body>
</html>